@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ECardGenerator.Models

@model EcardViewModel


<h1>Please fill out the form</h1>

<form method="POST" action="@Url.Action("FormResults", "Template")">
    <section>
        <div>
            Please select a card color:
            <select name="ImageName">
                <option value="blue.jpg">Blue Card</option>
                <option value="green.jpg">Green Card</option>
                <option value="light-grey.jpg">Grey Card</option>
                <option value="slamon.jpg">Salmon Card</option>
            </select>
        </div>
        <div>
            To Name: <input type="text" name="ToName" /><br />
            To Email: <input type="text" name="ToEmail" /> <br />
            From Name: <input type="text" name="FroName" /> <br />
            From Email: <input type="text" name="FroEmail" /> <br />
            Message: <input type="text" name="Message" /> <br />

            <input type="submit" name="submitButton" value="submitted" />

        </div>


    </section>

</form>

