@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section extraCSS {

    <link href="~/Content/cardtemplates.css" rel="stylesheet" />
}
@using ECardGenerator.Models
@model IList<Template>
    <div>
        <h1>E Card Generator</h1>
        <h3>Click on the colors to create an ECard!</h3>
    </div>
<section>
    @foreach (Template template in Model)
    {
        <article class="container">
            <div class="cardtemplate">
                <div class="card" id="image">
                    <a href="@Url.Action("Form", "Template")">
                        <img src="~/Content/Images/@template.ImageName"  />
                    </a>
                </div>

                    <div class="card message">
                        <h4 style="color:@template.FontColor;">Your Message Here</h4><br />
                        <br />

                        <p style="color:@template.FontColor;">@template.TemplateName</p> <br />

                    </div>
                </div>
          
        </article>
    }
</section>